<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register-matpel" method="POST">
      <label>Masukkan Kode Mata Pelajaran</label><br />
      <input type="number" name="kode_matpel" required /><br />
      <label>Masukkan Nama Mata Pelajaran</label>
      <input type="text" name="nama_matpel" required /><br />
      <label>Tanggal Mata Pelajaran</label>
      <input type="date" name="tanggal_matpel" required /><br />
      <label>Nama Guru Mata Pelajaran</label>
      <input type="text" name="nama_guru" required /><br />
      <button type="submit">Daftar</button>
    </form>
  </body>
</html>
